@import url(https://fonts.googleapis.com/css?family=Montserrat:100i,300,400,400i,500,800);body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: grey;
}

.h1 {
  font-size: 40pt;
  font-weight: 800;
}

.h2 {
  font-size: 26pt;
}

.h3 {
  font-size: 18pt;
  font-weight: 600;
}

.h4 {
  font-size: 22pt;
}

.h5 {
  font-size: 12pt;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.container.small {
  max-width: 1125px;
}

/* Navigation */

nav {
  padding: 18px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.grid-1-1 {
  grid-template-columns: 1fr 1fr;
}

.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid-5-2 {
  grid-template-columns: 5fr 2fr;
}

.item {
  position: relative;
}

footer {
  border-top: 20px solid #212681;
  margin-top: 20px;
  background-color: #2931a0;
  padding: 68px 40px;
  color: #fff;
  font-size: 11pt;
  color: rgba(255, 255, 255, 0.6);
}

footer .grid-2 {
  grid-template-columns: 1fr 2fr 1fr;
}

footer ul {
  padding: 0;
  margin-bottom: 20px;
}

footer ul li {
  display: block;
  margin: 8px 0;
}

footer .title {
  text-transform: uppercase;
  color: #fff;
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

.comment-feed {
  background: #f1f1f1;
  padding: 70px 0 45px 0;
}

.comment-feed .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 55%;
  background: #f9f9f9;
  margin-bottom: 12px;
  padding: 24px 30px;
}

.comment-feed .comment .photo {
  max-width: 80px;
}

.comment-feed .comment img {
  padding: 5px;
  background: #fff;
  max-width: 100%;
}

.comment-feed .comment .comment-body {
  padding: 0 28px;
}

.dropdown {
  position: relative;
}

.dropdown .menu-list {
  position: absolute;
  display: none;
  background: #fff;
  padding: 10px 0;
  margin: 0;
  right: 20px;
  top: 60px;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 3px;
  min-width: 220px;
}

.dropdown .menu-list a {
  display: block;
  padding: 15px 36px;
  color: #404040;
}

.dropdown .menu-list a:hover {
  background: #4947c6;
  color: #fff;
}

.dropdown .active {
  display: block;
}

/* Tools */

.aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indented {
  padding: 0 140px;
}

.centered {
  text-align: center;
}

.vcentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upercase {
  text-transform: uppercase;
}

.shadow-text {
  text-shadow: 2px 2px black;
}

.inverted {
  color: #fff;
}

.mtop {
  margin-top: 20px;
}

.section-title {
  font-size: 1.2em;
  margin: 30px 0;
  color: #6d6d6d;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fb-page {
  margin-top: 16px;
}

.search input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 0.9em;
  line-height: 1.5;
  border-radius: 3px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search.large {
  width: 60%;
}

.search.large input {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 20px;
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.search.large input::-webkit-input-placeholder {
  color: #fff;
}

.search.large input:-ms-input-placeholder {
  color: #fff;
}

.search.large input::-ms-input-placeholder {
  color: #fff;
}

.search.large input::placeholder {
  color: #fff;
}

.search-results {
  position: absolute;
  max-width: 400px;
  background: #fff;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  z-index: 1;
  overflow: hidden;
}

.search-results a {
  color: rgba(0, 0, 0, 0.87);
}

.search-results ul li {
  padding: 10px;
}

.search-results ul li img {
  border-radius: 2px;
  margin-right: 12px;
}

.search-results ul li:hover {
  background: #f1f1ef;
}

.label {
  background: #4947c6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn.fluid {
  width: 100%;
}

.btn.inverted {
  background: transparent;
  border: 1px solid #fff;
  padding: 11px 27px;
}

.btn.rounded {
  border-radius: 50px;
}

.btn.blue {
  color: #fff;
  background: #4947c6;
}

.btn.white {
  color: #4947c6 !important;
  background: #fff;
}

.btn.grey {
  color: #fff;
  background: #010101;
}

/* Slider */

.slider {
  height: 508px;
  background-image: url("/img/slider/1.jpeg"), -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.2)));
  background-image: url("/img/slider/1.jpeg"), linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.2));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}

.add-links {
  text-align: right;
  padding: 34px 50px;
}

.add-links a {
  color: #fff;
  font-size: 1.0em;
}

.search-container {
  margin-top: 40px;
}

.search-large {
  margin: 30px auto;
  width: 40%;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-bottom: 1px solid #fff;
}

/* Categories */

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1ef;
}

.categories i {
  font-size: 3em;
}

.cat-info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
  background: #4947c6;
  padding: 50px 70px;
}

.cat-info .h3 {
  margin-top: 40px;
}

.cat-info p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 80px;
}

.cat-list {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 50px 70px;
}

.cat-list a {
  width: 33%;
  display: block;
}

.cat-list .h5 {
  margin-left: 30px;
}

.cat-list .material-icons {
  color: #4947c6;
}

/* Announce */

.announce {
  padding: 60px 0;
  background: -webkit-gradient(linear, left top, right top, from(#6197f9), to(#2bc2af));
  background: linear-gradient(90deg, #6197f9 0%, #2bc2af 100%);
}

.announce .h4 {
  margin-bottom: 30px;
}

.theme .cover {
  height: 325px;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.theme .content {
  max-width: 75%;
}

.theme .content .title {
  margin-top: 45px;
  font-size: 20pt;
}

.theme .content .sub-title {
  font-size: 16pt;
}

.theme .sub-header {
  padding: 10px;
  background: #4b46c6;
}

.theme .sub-header a {
  color: #fff;
}

.theme .links .info {
  padding-right: 40px;
  border-right: 2px solid #fff;
}

.theme .links .teachers {
  padding-left: 40px;
}

.theme-details table {
  border: 1px solid #f2f2f2;
  padding: 30px;
  width: 100%;
}

.theme-details table td {
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
}

.theme-details .company {
  background: #161551;
  margin: 15px 0;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-details .company .logo {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  margin-right: 20px;
}

.theme .buttons .btn {
  margin-left: 10px;
}

.teacher-list .teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  margin-bottom: 15px;
  padding: 15px;
}

.teacher-list .teacher .info {
  padding: 0 25px;
}

.event .cover {
  height: 325px;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.event .content {
  max-width: 75%;
}

.event .content .title {
  margin-top: 45px;
  font-size: 20pt;
}

.event .content .sub-title {
  font-size: 16pt;
}

.event .sub-header {
  padding: 10px;
  background: #4b46c6;
}

.event .sub-header a {
  color: #fff;
}

.event .links .info {
  padding-right: 40px;
  border-right: 2px solid #fff;
}

.event .links .teachers {
  padding-left: 40px;
}

.event-details table {
  border: 1px solid #e6e6e6;
  padding: 15px;
  width: 100%;
  background: #f1f1ef;
}

.event-details table i {
  color: #4947c6;
  font-size: 1.6em;
  margin: 10px;
}

.event-details table .underlined {
  border-bottom: 1px solid #e6e6e6;
}

.event-details table .price {
  margin-top: 20px;
}

.event-details .company {
  background: #161551;
  margin: 15px 0;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-details .company .logo {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  margin-right: 20px;
}

.event .buttons .btn {
  margin-left: 10px;
}

.teacher-list .teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  margin-bottom: 15px;
  padding: 15px;
}

.teacher-list .teacher .info {
  padding: 0 25px;
}

.teacher-list .teacher .details {
  white-space: pre-line;
}

.box {
  border-radius: 4px;
  background: linear-gradient(135deg, #2965ca, #563bc2), #4947c6;
  overflow: hidden;
  color: #fff;
}

.box .cover {
  height: 132px;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}

.box .cover .c-logo {
  display: inline-block;
  position: absolute;
  top: 86px;
  left: 20px;
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
}

.box .cover .c-logo div {
  background-position: center;
  background-size: cover;
  height: 56px;
  width: 56px;
}

.box .content {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

.box .content .title {
  font-size: 1em;
  color: #fff;
}

.box .content .date {
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.6);
}

.box .footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 80%;
}

.box .footer a {
  color: rgba(255, 255, 255, 0.6);
}

.box i {
  margin-right: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.box-alt {
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
          box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
}

.box-alt .cover {
  height: 132px;
  background-position: center;
  position: relative;
}

.box-alt .cover .c-logo {
  display: inline-block;
  position: absolute;
  top: 86px;
  left: 20px;
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
}

.box-alt .cover .c-logo div {
  background-position: center;
  background-size: cover;
  height: 56px;
  width: 56px;
}

.box-alt .content {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

.box-alt .content .title {
  font-size: 1em;
}

.box-alt .content .date {
  margin: 10px 0;
}

.box-alt .footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 80%;
}

.box-alt .footer a {
  color: rgba(255, 255, 255, 0.6);
}

.box-alt i {
  margin-right: 8px;
  font-size: 15px;
}

.cat-box {
  height: 132px;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
  background-position: center !important;
  background-size: cover !important;
  background-blend-mode: overlay;
  color: #fff;
}

.company header {
  height: 325px;
  color: #fff;
  background: #41295a;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2F0743), to(#41295a));
  background: linear-gradient(to right, #2F0743, #41295a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.company header .info {
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company .themes {
  padding: 36px 140px;
  background: #f5f5f5;
}

.company .events {
  padding: 75px 240px;
}

.company .events .month {
  background: #ebebeb;
  padding: 10px;
}

.company .events .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.company .events .item .date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.company .events .item .info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  alighn-items: center;
}

.company .events .item .info .title {
  margin: 10px 20px;
}

.company .events .item:hover {
  background: #f9f9f9;
}

.venue .sub-header {
  background: #4947c6;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.venue .description {
  white-space: pre-line;
}

.slide-container {
  position: relative;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
}

.slide-container .item {
  height: 400px;
  background-position: center !important;
  background-size: cover !important;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slide-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Icons */

.icon.blue {
  color: #4947c6;
}

