@import url(https://fonts.googleapis.com/css?family=Montserrat:100i,300,400,400i,500,800);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=cyrillic);body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

.content-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.divider {
  border-bottom: 1px dotted grey;
  margin: 30px 0;
}

.h1 {
  font-size: 40pt;
  font-weight: 800;
}

.h2 {
  font-size: 26pt;
}

.h3 {
  font-size: 18pt;
  font-weight: 600;
}

.h4 {
  font-size: 22pt;
}

.h5 {
  font-size: 12pt;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.container.tiny {
  max-width: 400px;
}

/* Navigation */

nav {
  padding: 12px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

.avatar {
  border-radius: 50%;
  border: 1px solid grey;
  width: 32px;
  height: 32px;
  font-size: 0.8em;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-nav {
  padding: 20px;
  background: grey;
  color: #fff;
}

.admin-nav a {
  color: #fff;
}

.comment-feed {
  background: #f1f1f1;
  padding: 70px 0 45px 0;
}

.comment-feed .comment {
  margin: 0 auto;
  max-width: 55%;
  background: #f9f9f9;
  margin-bottom: 12px;
  padding: 24px 30px;
}

.comment-feed .comment textarea {
  width: 100%;
}

.comment-feed .comment .photo {
  max-width: 80px;
}

.comment-feed .comment img {
  padding: 5px;
  background: #fff;
  max-width: 100%;
}

.comment-feed .comment .comment-body {
  padding: 0 28px;
}

/* Tools */

.aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.indented {
  padding: 0 140px;
}

.centered {
  text-align: center;
}

.vcentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upercase {
  text-transform: uppercase;
}

.shadow-text {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.inverted {
  color: #fff;
}

.mtop {
  margin-top: 20px;
}

.section-title {
  font-size: 1.2em;
  margin: 30px 0;
  color: #6d6d6d;
}

section .title {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fb-page {
  margin-top: 16px;
}

.search input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 0.9em;
  line-height: 1.5;
  border-radius: 3px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search.large {
  width: 60%;
}

.search.large input {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 20px;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.search.large input::-webkit-input-placeholder {
  color: #fff;
}

.search.large input:-ms-input-placeholder {
  color: #fff;
}

.search.large input::-ms-input-placeholder {
  color: #fff;
}

.search.large input::placeholder {
  color: #fff;
}

.search-results {
  position: absolute;
  max-width: 400px;
  background: #fff;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  z-index: 1;
  overflow: hidden;
}

.search-results a {
  color: rgba(0, 0, 0, 0.87);
}

.search-results ul li {
  padding: 20px 15px;
}

.search-results ul li img {
  border-radius: 2px;
  margin-right: 12px;
}

.search-results ul li:hover {
  background-color: #f8f7fa;
}

.login {
  max-width: 400px;
  margin: 10% auto;
}

/* Categories */

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1ef;
}

.categories i {
  font-size: 3em;
}

.cat-info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
  background: #4947c6;
  padding: 50px 70px;
}

.cat-info .h3 {
  margin-top: 40px;
}

.cat-info p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 80px;
}

.cat-list {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 50px 70px;
  margin: auto;
}

.cat-list i {
  width: 30px;
  margin-right: 20px;
  color: #4947c6;
  font-size: 2em;
}

.cat-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-list .h5 {
  margin-left: 20px;
  -webkit-box-flex: 2fr;
      -ms-flex: 2fr;
          flex: 2fr;
}

.cat-list .material-icons {
  color: #4947c6;
}

.cat-box {
  height: 132px;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  background-position: center !important;
  background-size: cover !important;
  background-blend-mode: overlay;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat-box i {
  font-size: 2.6em;
  margin-bottom: 20px;
}

.cat-box .cat-name {
  text-align: center;
  font-size: 1.1em;
}

.category-cover {
  height: 300px;
  background-position: center !important;
  background-size: cover !important;
  background-blend-mode: overlay;
  color: #fff;
  padding: 15px 26px;
}

.category-cover .title {
  margin-top: 60px;
  font-size: 2em;
}

.bcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.bcrumbs a {
  color: #fff;
  font-size: 1.05em;
  margin-right: 10px;
}

.bcrumbs i {
  font-size: 0.58em;
  margin-right: 10px;
}

/* On screens that are 768px or less, set the background color to blue */

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .indented {
    padding: 0;
  }

  .aligned {
    display: block;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 15px auto;
  }

  .search-results {
    max-width: 100%;
  }

  .categories {
    display: block;
  }

  .categories .cat-info {
    -webkit-clip-path: none;
            clip-path: none;
    text-align: center;
  }

  .categories .cat-info p {
    margin-bottom: 48px;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .slider {
    height: 340px !important;
  }

  .h1 {
    font-size: 26pt;
  }

  .h2 {
    font-size: 15pt;
  }

  .search.large input {
    height: 48px;
  }
}

/* Grid */

.grid {
  display: grid;
  grid-gap: 30px;
}

.grid-1-1 {
  grid-template-columns: 1fr 1fr;
}

.grid-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-1-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-1-4 {
  grid-template-columns: 1fr 4fr;
}

.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid-1-2-1 {
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-5-2 {
  grid-template-columns: 5fr 2fr;
}

.item {
  position: relative;
}

@media screen and (max-width: 768px) {
  .grid-1-1-1-1,
  .grid-1-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-1-2-1 {
    grid-template-columns: 1fr;
  }

  .grid-5-2 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid-1-1-1-1,
  .grid-1-1-1 {
    grid-template-columns: 1fr;
  }
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn.fluid {
  width: 100%;
  text-align: center;
}

.btn.basic {
  border: 1px solid #4947c6;
  color: #4947c6;
}

.btn.inverted {
  background: transparent;
  border: 1px solid #fff;
  padding: 11px 27px;
}

.btn.rounded {
  border-radius: 50px;
}

.btn.blue {
  color: #fff;
  background: #4947c6;
}

.btn.white {
  color: #4947c6 !important;
  background: #fff;
}

.btn.grey {
  color: #fff;
  background: #010101;
}

.btn.small {
  padding: 6px 14px;
}

.btn.small i {
  font-size: 0.8em;
}

label.btn {
  cursor: pointer;
}

.breadcrumbs {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
}

.breadcrumbs a {
  color: #fff;
}

.breadcrumbs i {
  font-size: 0.6em;
  margin: 0 6px;
}

/* Slider */

.slider {
  height: 508px;
  background-image: url("/img/slider/1.jpeg"), -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.2)));
  background-image: url("/img/slider/1.jpeg"), linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.2));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.add-links {
  text-align: right;
  padding: 34px 50px;
}

.add-links a {
  color: #fff;
  font-size: 1.0em;
}

.search-container {
  margin-top: 40px;
}

.search-large {
  margin: 30px auto;
  width: 40%;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-bottom: 1px solid #fff;
}

/* Announce */

.announce {
  padding: 60px 0;
  background: -webkit-gradient(linear, left top, right top, from(#6197f9), to(#2bc2af));
  background: linear-gradient(90deg, #6197f9 0%, #2bc2af 100%);
}

.announce .h4 {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  section.content {
    text-align: center;
  }
}

.theme .cover {
  height: 325px;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.theme .content {
  max-width: 75%;
}

.theme .content .title {
  margin-top: 45px;
  font-size: 20pt;
}

.theme .content .sub-title {
  font-size: 16pt;
}

.theme .sub-header {
  padding: 10px;
  background: #4b46c6;
}

.theme .sub-header a {
  color: #fff;
}

.theme .links .info {
  padding-right: 40px;
  border-right: 2px solid #fff;
}

.theme .links .teachers {
  padding-left: 40px;
}

.theme-details table {
  border: 1px solid #f2f2f2;
  padding: 30px;
  width: 100%;
}

.theme-details table td {
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
}

.theme-details .company {
  background: #161551;
  margin: 15px 0;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-details .company .logo {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  margin-right: 20px;
}

.theme .buttons .btn {
  margin-left: 10px;
}

.teacher-list .teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  margin-bottom: 15px;
  padding: 15px;
}

.teacher-list .teacher .info {
  padding: 0 25px;
}

.theme-box-alt {
  background-color: #4947c6;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  height: 215px;
}

.theme-box-alt .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  position: relative;
}

.theme-box-alt .info .title {
  font-size: 1.1em;
}

.theme-box-alt .info .details {
  position: absolute;
  bottom: 15px;
}

.theme-box-alt .info .details .category {
  margin-top: 5px;
  font-size: 0.9em;
  font-style: italic;
}

.theme-box-alt .cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-position: center !important;
  background-size: cover !important;
  -webkit-clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
}

.theme-box-alt a {
  color: #fff;
}

.event-page header {
  font-family: "Montserrat", sans-serif;
  height: 300px;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-top: 36px;
}

.event-page header .header-content {
  padding-top: 20px;
}

.event-page header h1 {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 30px;
}

.event-page .sub-header {
  color: #fff;
  background: #4947c6;
  padding: 10px 0;
}

.event-page .sub-header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-page .sub-header .links .separator {
  font-weight: bold;
  margin: 0 30px;
}

.event-page .sub-header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.event-page .sub-header .buttons > * {
  margin-left: 10px;
}

.event-page .sub-header a {
  color: #fff;
}

.event-page .content {
  color: #373a3c;
  padding-top: 26px;
}

.event-page .content h2 {
  font-weight: normal;
}

.event-page .content .event-body {
  font-size: 0.9em;
  white-space: pre-line;
}

.event-page .content .sidebar {
  font-family: "Montserrat", sans-serif;
}

.event-page .content .details {
  margin-bottom: 20px;
  background: #FAFAFA;
  padding: 24px;
}

.event-page .content .details td {
  padding: 5px;
}

.event-page .content .details i {
  font-size: 2em;
  color: #4947c6;
}

.event-page .content .details .price {
  margin-top: 20px;
}

.event-page .content .host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2b5876;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#4e4376), to(#2b5876));
  background: linear-gradient(to left, #4e4376, #2b5876);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  text-align: center;
  padding: 24px;
}

.event-page .content .host .logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  border-radius: 3px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.event-page .content .host .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .grid-1-1 {
    grid-template-columns: none;
  }

  .grid-1-1-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .event-page .links {
    display: none !important;
  }

  .event-page .buttons {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

@media screen and (max-width: 768px) {
  .event-page .popular {
    display: none !important;
  }
}

.event-box-alt {
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
          box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
  position: relative;
}

.event-box-alt .cover {
  height: 132px;
  background-position: center;
  position: relative;
}

.event-box-alt .cover .c-logo {
  display: inline-block;
  position: absolute;
  top: 86px;
  left: 20px;
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
}

.event-box-alt .cover .c-logo div {
  background-position: center;
  background-size: cover;
  height: 56px;
  width: 56px;
}

.event-box-alt .content {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

.event-box-alt .content .title {
  font-size: 1em;
}

.event-box-alt .content .date {
  margin: 10px 0;
}

.event-box-alt .footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 80%;
}

.event-box-alt .footer a {
  color: rgba(255, 255, 255, 0.6);
}

.event-box-alt i {
  margin-right: 8px;
  font-size: 15px;
}

.box {
  border-radius: 4px;
  background: linear-gradient(135deg, #2965ca, #563bc2), #4947c6;
  overflow: hidden;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.box .cover {
  height: 132px;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}

.box .cover .c-logo {
  display: inline-block;
  position: absolute;
  top: 86px;
  left: 20px;
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
}

.box .cover .c-logo div {
  background-position: center;
  background-size: cover;
  height: 56px;
  width: 56px;
}

.box .content {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

.box .content .title {
  font-size: 1em;
  color: #fff;
}

.box .content .date {
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.6);
}

.box .footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .footer a {
  color: rgba(255, 255, 255, 0.6);
}

.box i {
  margin-right: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.box-alt {
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
          box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
}

.box-alt .cover {
  height: 132px;
  background-position: center;
  position: relative;
}

.box-alt .cover .c-logo {
  display: inline-block;
  position: absolute;
  top: 86px;
  left: 20px;
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
}

.box-alt .cover .c-logo div {
  background-position: center;
  background-size: cover;
  height: 56px;
  width: 56px;
}

.box-alt .content {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

.box-alt .content .title {
  font-size: 1em;
}

.box-alt .content .date {
  margin: 10px 0;
}

.box-alt .footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 80%;
}

.box-alt .footer a {
  color: rgba(255, 255, 255, 0.6);
}

.box-alt i {
  margin-right: 8px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .box {
    border-radius: 0;
  }
}

.company header {
  color: #fff;
  background: #7474BF;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#348AC7), to(#7474BF));
  background: linear-gradient(to right, #348AC7, #7474BF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.company header .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 140px;
}

.company header .details .title {
  margin-left: 20px;
}

.company header .logo {
  width: 120px;
  height: 120px;
  background: #fff;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.company header .description {
  border-top: 1px dotted #fff;
  margin-top: 40px;
  padding: 40px 140px;
  white-space: pre-line;
}

.company .themes {
  padding: 36px 140px;
  background: #f5f5f5;
}

.company .events {
  padding: 75px 240px;
}

.company .events .month {
  background: #ebebeb;
  padding: 10px;
}

.company .events .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.company .events .item .date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.company .events .item .info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  alighn-items: center;
}

.company .events .item .info .title {
  margin: 10px 20px;
}

.company .events .item:hover {
  background: #f9f9f9;
}

.reg-box {
  right: 100px;
  width: 240px;
  padding: 12px 15px 15px;
  color: #fff;
  border-radius: 4px;
  background-color: rgba(10, 30, 44, 0.25);
}

.reg-box h3 {
  font-size: 0.8em;
  font-weight: normal;
}

.venue .sub-header {
  background: #4947c6;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.venue .description {
  white-space: pre-line;
}

.slide-container {
  position: relative;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
}

.slide-container .item {
  height: 400px;
  background-position: center !important;
  background-size: cover !important;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slide-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Icons */

.icon.blue {
  color: #4947c6;
}

.label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #4947c6;
  padding: 15px;
  border-radius: 2px;
  color: #4947c6;
  font-size: 1.2em;
  text-align: center;
}

.label.input {
  padding: 9px 15px;
  background: #4947c6;
  border-radius: 3px 0 0 3px;
  font-size: 0.8em;
  color: #fff;
}

form .fluid input,
form .fluid select,
.form .fluid input,
.form .fluid select {
  width: 100%;
}

form .field,
.form .field {
  margin: 10px 0;
}

form .field label,
.form .field label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.8em;
  font-weight: bold;
}

form .inline,
.form .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input,
select,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 18px;
  border: 1px solid #4947c6;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.labeled {
  border-radius: 0 3px 3px 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.filter select {
  border: 2px solid #4947c6;
  padding: 12px 20px;
  font-size: 1.2em;
  margin-right: 20px;
}

.tabs {
  font-size: 0.9em;
  border-bottom: 1px solid #d4d4d5;
}

.tabs .tab {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px 3px 0 0;
  padding: 12px 20px;
  margin-bottom: -1px;
}

.tabs .tab.active {
  border: 1px solid #d4d4d5;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  border: 1px solid #d4d4d5;
  border-top: none;
}

.vertical-menu {
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid #dededf;
  border-radius: 3px;
}

.vertical-menu .item {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #dededf;
}

.vertical-menu .item:hover {
  background: #f2f2f2;
}

.vertical-menu .item:last-child {
  border-bottom: none;
}

.vertical-menu .item.active {
  background: #f2f2f2;
}

.dropdown {
  position: relative;
  margin-left: 15px;
  height: 100%;
}

.dropdown .dropdown-btn > * {
  pointer-events: none;
}

.dropdown .menu-list {
  position: absolute;
  display: none;
  background: #fff;
  padding: 10px 0;
  margin: 0;
  right: 20px;
  top: 50px;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 3px;
  min-width: 220px;
}

.dropdown .menu-list a {
  display: block;
  padding: 15px 36px;
  color: #404040;
}

.dropdown .menu-list a:hover {
  background: #4947c6;
  color: #fff;
}

.dropdown .active {
  display: block;
}

.message {
  padding: 20px;
  background-color: #616161;
  color: white;
  opacity: 0.83;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.message.red {
  background-color: #f44336;
}

.message.green {
  background-color: #4CAF50;
}

.message.blue {
  background-color: #2196F3;
}

.message.orange {
  color: #000;
  background-color: #ffc107;
}

.message a {
  color: #fff;
}

.segment {
  border: 1px solid #dededf;
  border-radius: 3px;
  padding: 10px 20px;
}

table.dashboard {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.dashboard thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

table.dashboard tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.single-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 250px;
  height: 150px;
}

.multi-image .delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-image {
  margin-top: 20px !important;
}

.images {
  padding: 7px;
  background-size: cover;
  position: relative;
  width: 357px;
  height: 178px;
}

.progress {
  position: absolute !important;
  height: 40px;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + button {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

footer {
  border-top: 20px solid #212681;
  margin-top: 20px;
  background-color: #2931a0;
  padding: 68px 40px;
  color: #fff;
  font-size: 11pt;
  color: rgba(255, 255, 255, 0.6);
}

footer ul {
  padding: 0;
  margin-bottom: 20px;
}

footer ul li {
  display: block;
  margin: 8px 0;
}

footer .title {
  text-transform: uppercase;
  color: #fff;
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

.notifications ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notifications ul li .item {
  max-width: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dededf;
}

.notifications ul li .item:hover {
  background: #f8f7fa;
}

.notifications ul li .item.unread {
  background: #f7f3fe;
}

.notifications ul li .item .icon {
  font-size: 1.5em;
  color: #4947c6;
}

.notifications ul li .item .icon i {
  vertical-align: middle;
}

.notifications ul li .item .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}

.notifications ul li .item .content .date {
  font-size: 0.7em;
}

