.box {
	border-radius: 4px;
	background: linear-gradient(135deg, rgb(41, 101, 202), rgb(86, 59, 194)), $primary-color;
	overflow: hidden;
	color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);

	.cover {
		height: 132px;
		background-position: center !important;
    	background-size: cover !important;
		position: relative;
		// clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

		.c-logo {
			display: inline-block;
			position: absolute;
			top: 86px;
			left: 20px;
			background-color: #fff;
			padding: 8px;
			border-radius: 3px;

			div {
				background-position: center;
				background-size: cover;
				height: 56px;
				width: 56px;
			}
		}
	}

	.content {
		margin-top: 20px;
		margin-bottom: 40px;
		padding: 20px;

		.title {
			font-size: 1em;
			color: #fff;
		}

		.date {
			margin: 10px 0;
			color: rgba(255,255,255, 0.6);
		}
	}

	.footer {
		padding: 20px;
		position: absolute;
		bottom: 0;
		width: 80%;

		a {
			color: rgba(255,255,255, 0.6);
		}
	}

	i {
		margin-right: 8px;
	    font-size: 15px;
	    color: rgba(255,255,255, 0.6);
	}
}

.box-alt {
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);

	.cover {
		height: 132px;
		background-position: center;
		position: relative;

		.c-logo {
			display: inline-block;
			position: absolute;
			top: 86px;
			left: 20px;
			background-color: #fff;
			padding: 8px;
			border-radius: 3px;
			border: 1px solid #E1E1E1;

			div {
				background-position: center;
				background-size: cover;
				height: 56px;
				width: 56px;
			}
		}
	}

	.content {
		margin-top: 20px;
		margin-bottom: 40px;
		padding: 20px;

		.title {
			font-size: 1em;
		}

		.date {
			margin: 10px 0;
		}
	}

	.footer {
		padding: 20px;
		position: absolute;
		bottom: 0;
		width: 80%;

		a {
			color: rgba(255,255,255, 0.6);
		}
	}

	i {
		margin-right: 8px;
	    font-size: 15px;
	}
}

.company-box {

}

