.event-box {
	border-radius: 4px;
	background: linear-gradient(135deg, rgb(41, 101, 202), rgb(86, 59, 194));
	overflow: hidden;
	color: #fff;

	.cover {
		height: 132px;
		background-position: center;
		position: relative;

		.c-logo {
			display: inline-block;
			position: absolute;
			top: 86px;
			left: 20px;
			background-color: #fff;
			padding: 8px;
			border-radius: 3px;

			div {
				background-position: center;
				background-size: cover;
				height: 56px;
				width: 56px;
			}
		}
	}

	.content {
		margin-top: 20px;
		margin-bottom: 40px;
		padding: 20px;

		.title {
			font-size: 1em;
			color: #fff;
		}

		.date {
			margin: 10px 0;
			color: rgba(255,255,255, 0.6);
		}
	}

	.footer {
		padding: 20px;
		position: absolute;
		bottom: 0;
		width: 80%;

		a {
			color: rgba(255,255,255, 0.6);
		}
	}

	i {
		margin-right: 8px;
	    font-size: 18px;
	    color: rgba(255,255,255, 0.6);
	}
}

.event-box-alt {
	border-radius: 4px;
	overflow: hidden;
	// color: #fff;
	box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);

	.cover {
		height: 132px;
		background-position: center;
		position: relative;

		.c-logo {
			display: inline-block;
			position: absolute;
			top: 86px;
			left: 20px;
			background-color: #fff;
			padding: 8px;
			border-radius: 3px;
			border: 1px solid #E1E1E1;

			div {
				background-position: center;
				background-size: cover;
				height: 56px;
				width: 56px;
			}
		}
	}

	.content {
		margin-top: 20px;
		margin-bottom: 40px;
		padding: 20px;

		.title {
			font-size: 1em;
		}

		.date {
			margin: 10px 0;
		}
	}

	.footer {
		padding: 20px;
		position: absolute;
		bottom: 0;
		width: 80%;

		a {
			color: rgba(255,255,255, 0.6);
		}
	}

	i {
		margin-right: 8px;
	    font-size: 18px;
	}
}

.theme-box {
	border-radius: 4px;
	background: linear-gradient(135deg, rgb(41, 101, 202), rgb(86, 59, 194));
	overflow: hidden;
	color: #fff;
	margin: 20px 0;

	.cover {
		height: 132px;
		background-position: center;
		position: relative;

		.c-logo {
			display: inline-block;
			position: absolute;
			top: 86px;
			left: 20px;
			background-color: #fff;
			padding: 8px;
			border-radius: 3px;

			div {
				background-position: center;
				background-size: cover;
				height: 56px;
				width: 56px;
			}
		}
	}

	.content {
		margin-top: 20px;
		margin-bottom: 40px;
		padding: 20px;

		.title {
			font-size: 1em;
			color: #fff;
		}

		.date {
			margin: 10px 0;
			color: rgba(255,255,255, 0.6);
		}
	}
}

.theme-box-alt {
	display: flex;
	min-height: 200px;
	background: #4b46c6;
	border-radius: 4px;
	overflow: hidden;
	color: #fff;

	.content {
		width: 50%;
		padding: 30px;
		a {
			color: #fff;
		}

		.info {
			font-size: 12px;
			margin-top: 40px;

			div {
				margin-top: 10px;
			}
		}
	}

	.cover {
		-webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
		width: 50%;
		background-size: cover !important;
    	background-position: center !important;
	}
}

.cat-box {
	height: 132px;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
	border-radius: 6px;
	padding: 20px;
	background-position: center !important;
    background-size: cover !important;
    background-blend-mode: overlay;
    color: #fff;
}