/* Buttons */

.btn {
	display: inline-block;
	border-radius: 3px;
	padding: 12px 28px;
	box-sizing: border-box;

	&.fluid {
		width: 100%;
		text-align: center;
	}

	&.basic {
		border: 1px solid $primary-color;
		color: $primary-color;
	}

	&.inverted {
		background: transparent;
		border: 1px solid #fff;
		padding: 11px 27px;
	}

	&.rounded {
		border-radius: 50px;
	}

	&.blue {
		color: #fff;
		background: #4947c6;
	}

	&.white {
		color: #4947c6 !important;
		background: #fff;
	}

	&.grey {
		color: #fff;
		background: #010101;
	}

	&.small {
		padding: 6px 14px;
		i {
			font-size: 0.8em;
		}
	}
}