.event-page {
	header {
		font-family: $font-primary;
		height: 300px;
		background-blend-mode: overlay;
		background-position: center;
		background-size: cover;
		color: #fff;
		padding-top: 36px;

		.header-content {
			padding-top: 20px;
		}

		h1 {
			font-size: 1.8em;
			font-weight: normal;
			line-height: 30px;
		}
	}

	.sub-header {
		color: #fff;
		background: $primary-color;
		padding: 10px 0;

		.links {
			display: flex;
			align-items: center;

			.separator {
				font-weight: bold;
				margin: 0 30px;
			}
		}

		.buttons {
			display: flex;
			justify-content: flex-end;

			& > * {
				margin-left: 10px;
			}
		}

		a {
			color: #fff;
		}
	}

	.content {
		color: #373a3c;
		padding-top: 26px;

		h2 {
			font-weight: normal;
		}

		.event-body {
			font-size: 0.9em;
			white-space: pre-line;
		}

		.sidebar {
			font-family: $font-primary;
		}

		.details {
			margin-bottom: 20px;
			background: #FAFAFA;
			padding: 24px;

			td {
				padding: 5px;
			}

			i {
				font-size: 2em;
				color: $primary-color;
			}

			.price {
				margin-top: 20px;
			}
		}

		.host {
			display: flex;
			background: #2b5876;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

			color: #fff;
			text-align: center;
			padding: 24px;

			.logo {
				box-sizing: border-box;
				width: 80px;
				height: 80px;
				border: 4px solid #fff;
				border-radius: 3px;
				background-position: center !important;
				background-repeat: no-repeat !important;
    			background-size: contain !important;
			}

			.name {
				flex: 1;
				padding: 20px;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.event-page {
		.links {
			display: none !important;
		}

		.buttons {
			justify-content: space-between !important;
		}
	}
}

@media screen and (max-width: 768px) {
	.event-page {
		header h1 {
			font-size: 1.4em;
		}
		.popular {
			display: none !important;
		}
	}

	.grid-1-1-1-1 {
		grid-template-columns: 1fr;
	}
}



// Old styles




// .event {
// 	.cover {
// 		height: 325px;
// 	    background-blend-mode: overlay;
// 	    background-position: center;
// 	    background-size: cover;
// 	    color: #fff;
// 	}

// 	.content {
// 		max-width: 75%;

// 		.title {
// 			margin-top: 45px;
// 			font-size: 20pt;
// 		}

// 		.sub-title {
// 			font-size: 16pt;	
// 		}
// 	}

// 	.sub-header {
// 		padding: 10px 140px;
// 		background: #4b46c6;

// 		a {
// 			color: #fff;
// 		}
// 	}

// 	.links {
// 		.info {
// 			padding-right: 40px;
// 			border-right: 2px solid #fff;
// 		}

// 		.teachers {
// 			padding-left: 40px;
// 		}
// 	}
// }

// .event-details {
// 	table {
// 		border: 1px solid #e6e6e6;
// 	    padding: 15px;
// 	    width: 100%;
// 	    background: $secondary-color;

// 	    i {
// 	    	color: $primary-color;
// 	    	font-size: 1.6em;
// 	    	margin: 10px;
// 	    }
// 	    .underlined {
// 			border-bottom: 1px solid #e6e6e6;
// 		}

// 		.price {
// 			margin-top: 20px;
// 		}
// 	}

// 	.company {
// 		background: #161551;
// 		margin: 15px 0;
// 		padding: 20px;
// 		color: #fff;
// 		border-radius: 3px;
// 		display:flex;
// 		align-items: center;

// 		.logo {
// 			padding: 5px;
// 			background: #fff;
// 			border-radius: 3px;
// 			margin-right: 20px;
// 		}
// 	}
// }

// .event .buttons .btn {
// 	margin-left: 10px;
// }

// .teacher-list {
// 	.teacher {
// 		display: flex;
// 		background: #f1f1f1;
// 		margin-bottom: 15px;
// 		padding: 15px;

// 		.info {
// 			padding: 0 25px;
// 		}

// 		.details {
// 			white-space: pre-line;
// 		}
// 	}
// }

.event-box-alt {
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
	position: relative;

	.cover {
		height: 132px;
		background-position: center;
		position: relative;

		.c-logo {
			display: inline-block;
			position: absolute;
			top: 86px;
			left: 20px;
			background-color: #fff;
			padding: 8px;
			border-radius: 3px;
			border: 1px solid #E1E1E1;

			div {
				background-position: center;
				background-size: cover;
				height: 56px;
				width: 56px;
			}
		}
	}

	.content {
		margin-top: 20px;
		margin-bottom: 40px;
		padding: 20px;

		.title {
			font-size: 1em;
		}

		.date {
			margin: 10px 0;
		}
	}

	.footer {
		padding: 20px;
		position: absolute;
		bottom: 0;
		width: 80%;

		a {
			color: rgba(255,255,255, 0.6);
		}
	}

	i {
		margin-right: 8px;
	    font-size: 15px;
	}
}

