form, .form {
	.fluid {
		input, select {
			width: 100%;
		}
	}

	.field {
		margin: 10px 0;

		label {
			display: block;
			margin-bottom: 4px;
			font-size: 0.8em;
			font-weight: bold;
		}
	}

	.inline {
		display: flex;
		justify-content: space-between;
	}
}

input, select, textarea {
	box-sizing: border-box;
	padding: 8px 18px;
	border: 1px solid $primary-color;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input {
	&.labeled {
		border-radius: 0 3px 3px 0;
	}
}

button {
	cursor: pointer;
	outline: none;
	border: none;
}

.filter {
	display: flex;
	justify-content: center;
	margin: 20px;
	select {
		border: 2px solid $primary-color;
		padding: 12px 20px;
		font-size: 1.2em;
		margin-right: 20px;
	}
}