.vertical-menu {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	border: 1px solid #dededf;
	border-radius: 3px;
	.item {
		display: block;
		// background: grey;
		padding: 10px 15px;
		border-bottom: 1px solid #dededf;
		&:hover {
			background: #f2f2f2;
		}

		&:last-child {
			border-bottom: none;
		}

		&.active {
			background: #f2f2f2;
		}
	}
}

// Dropdown
.dropdown {
	position: relative;
	margin-left: 15px;
	height: 100%;

	.dropdown-btn {
		> * {
			pointer-events: none; // Cool fix!
		}
	}
	
	.menu-list {
		position: absolute;
		display: none;
		background: #fff;
		padding: 10px 0;
		margin: 0;
		right: 20px;
		top: 50px;
		box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
		z-index: 100;
		border-radius: 3px;

		min-width: 220px;

		a {
			display: block;
			padding: 15px 36px;
			color: #404040;
		}

		a:hover {
			background: #4947c6;
			color: #fff;
		}
		
	}

	.active {
		display: block;
	}
}