.tabs {
	font-size: 0.9em;
	border-bottom: 1px solid #d4d4d5;
	
	.tab {
		display: inline-block;
		box-sizing: border-box;
		border-radius: 3px 3px 0 0;
		padding: 12px 20px;
		margin-bottom: -1px;

		&.active {
			border: 1px solid #d4d4d5;
			border-bottom: 1px solid #fff;
			font-weight: bold;
		}
	}
}

.tab-content {
	padding: 20px;
	border: 1px solid #d4d4d5;
	border-top: none;
}