$font-primary: 'Montserrat', sans-serif;
$font-secondary: Roboto,Helvetica,Arial,sans-serif;
// Colors
$primary-color: #4947c6;
$secondary-color: #f1f1ef;
$red: #f44336;
$green: #4CAF50;
$blue: #2196F3;
$orange: #ffc107;


$mtop: 20px;
$container-width: 1440px;

// Body
$body-bg: #f5f8fa;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;
