
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Semantic UI
// Needs improvements: @import '~semantic-ui/../semantic' ?? as bootsrap^^;
@import "../semantic-ui/dist/semantic.min.css";

body {
	//background-color: #f1f1f1;
	background-color: #F8F8FA;
}

#nav-header {
	background-color: #fff;
	border-bottom: 1px solid #DDDDDD;
	padding: 17px 0;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// Design test

.test-header {
	background-color: #fff;
	height: 76px;
	border-bottom: 1px solid #e7e7e7;
}

.sub-nav {
	background-color: #fff;
	box-shadow: inset 0 -1px 0 #e9ebee;
	padding: 16px 0;
}

.hero {
	height: 540px;
}

.hero-image {
	height: 200px;
	background-image: url(https://fbeventsubscribe3.files.wordpress.com/2016/08/hero-why.jpg);
}

.hero-content {

}