@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,300,400,400i,500,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald:200');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');





@import url('https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css');

$primary-font: 'Montserrat', sans-serif;

$purple: #4947c6;
$primary: $purple;

$font-family-sans-serif: Open Sans, sans-serif;//'Source Sans Pro', sans-serif;//'Lato', sans-serif;;//'Noto Sans SC', sans-serif;//'Oswald', sans-serif;///'Fira Sans', sans-serif;//-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

// $btn-border-radius: 50px;

$btn-padding-x-lg: 40px;
// $btn-padding-y-lg: 10px;

@import "~bootstrap/scss/bootstrap.scss";

body {
	background-color: #f5f5f5;
	color: #373a3c;
}

.btn-round {
	border-radius: 50px;
}

.btn-circle {
  border-radius: 50px;
}

.input-icon {
	position: absolute;
	padding: 10px;
	right: 0;
	color: $secondary;
}

.search-input.lg {
	display: flex;
	align-items: center;
	i {
		padding: 20px;
		font-size: 2em;
		color: #fff;
	}

	& input {
		background: hsla(0,0%,100%,.3);
    	border-radius: 3px;
    	height: 60px;
    	padding: 0 20px;
    	font-size: 20px;
    	border: none;
    	border-bottom: 1px solid #fff;
    	color: #fff;

    	&::placeholder {
    		color: #fff;
    	}
	}
}

.search-results {
	position: absolute;
	box-sizing: border-box;
	margin-top: 5px;
	z-index: 20;
}

.jumbotron.homepage {
	min-height: 500px;
	background-color: initial !important;
	background-image: url(/img/slider/1.jpeg), linear-gradient(rgba(4,9,30,.8),rgba(4,9,30,.2));
	background-blend-mode: overlay;
    background-position: 50%;
    background-size: cover;
    font-family: $primary-font;
    border-radius: 0 !important; // need to be changed

    h1, h2 {
    	color: #fff;
    	text-shadow: -1px -1px 1px hsla(0,0%,100%,.1), 1px 1px 1px rgba(0,0,0,.5);
    }

    h1 {
    	font-weight: 600;
    }
}

// Categories

.categories {
	.info {
		background: #4947c6;
		color: #fff;
		padding: 80px 120px;
		clip-path: polygon(0 0,95% 0,100% 100%,0 100%);
		div {
			margin: 0 auto;
		}
	}

	.cat-list {
		padding: 70px;
		a {
			text-decoration: none;
		}
		.cat {
			i {
				width: 50px;
				font-size: 2em;
			}
		}
	}
}

@media (max-width: map-get($grid-breakpoints, lg)) {
	.categories {
		.info {
			clip-path: none;
		}
	}
}

@media (max-width: map-get($grid-breakpoints, lg)) {
	.categories {
		.info {
			
		}
	}	
}

.cat-header {
	height: 300px;
	background-position: 50%!important;
    background-size: cover!important;
    background-blend-mode: overlay;
	color: #fff;
	font-family: $primary-font;
}

.cat-box {
	height: 150px;
	border-radius: 4px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 50%!important;
    background-size: cover!important;
    background-blend-mode: overlay;
    cursor: pointer;
    color: #fff;

    i {
    	font-size: 2em;
    	margin-bottom: 0.3em;
    }
}

// Segments
.segment {
	&.announce {
		background: linear-gradient(90deg, #6197f9, #2bc2af);
		color: #fff;
		text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
}

// Cards
.card.event-card {
	font-family: $primary-font;
	position: relative;
	background: linear-gradient(135deg,#2965ca,#563bc2),#4947c6;
	overflow: hidden;
	border: none;
	// box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
	.cover {
		background-position: 50% !important;
	    background-size: cover !important;
	    height: 132px !important;
	    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	}

	.logo {
    	position: absolute;
    	top: 90px;
    	left: 20px;
    	border: 4px solid #fff;
    	border-radius: 3px;
    	background: #fff;
    }

	.card-body {
		.card-title {
			color: #fff;
			text-decoration: none;
			font-size: 1.05em;
			font-weight: 500;
			line-height: 1rem;
		}
		overflow: hidden;
	}

	.card-text {
		color: hsla(0,0%,100%,.6);
	}

	.card-footer {
		color: #fff;
		background-color: transparent !important;
		border: none;
	}
}

.card.card-theme-alt {
	overflow: hidden;
	background-color: #4947c6;

	.title {
		flex: 2;
		font-size: 0.9em;
	}

	.cover {
		flex: 1;
		a {
			display: block;
			min-height: 200px;
			background-position: 50% !important;
	    	background-size: cover !important;
	    	clip-path: polygon(12% 0,100% 0,100% 100%,0 100%);
		}
	}
	
}

// Combine card class!!!
.card.card-venue {
	overflow: hidden;
	background-color: #4947c6;
	.cover {
		display: block;
		height: 132px;
		background-position: 50% !important;
    	background-size: cover !important;
	}

	.card-body {
		.card-title {
			color: #fff;
		}
	}
}

.card.dashboard-card {
	.image {
		height: 150px;
		background-size: cover !important;
		background-position: center center !important;
	}
}

.breadcrumb {
	background-color: initial;
	font-weight: 500;
	font-family: Open Sans,sans-serif;
	font-size: .9em;
    font-weight: 700;
    padding-top: 2em;

	.breadcrumb-item a {
		color: #fff;
	}
	.breadcrumb-item + .breadcrumb-item::before {
		color: #fff;
	}

	.active {
		color: #fff;
		font-weight: normal;
	}
}

// Event
.event-header {
	height: 300px;
	font-family: $primary-font;
	background-position: 50%!important;
    background-size: cover!important;
    background-blend-mode: overlay;
	color: #fff;
}

.event-sub-header {
	background-color: #4947c6;
	color: #fff;

	.btn-link {
		color: #fff;
	}
}

.event-body {
	font-size: 0.9em;
	white-space: pre-line;
}

.card-teacher {
	white-space: pre-line;

	.content {
		flex: 1;

		.details {
			display: none;
			font-size: 0.9em;
		}
	}
}

// Theme
.theme-header {
	height: 300px;
	font-family: $primary-font;
	background-position: 50%!important;
    background-size: cover!important;
    background-blend-mode: overlay;
	color: #fff;
}

.theme-sub-header {
	background-color: #4947c6;
	color: #fff;

	.btn-link {
		color: #fff;
	}
}

.theme-body {
	font-size: 0.9em;
	white-space: pre-line;
}

// Venue
.venue-header {
	height: 600px;
	font-family: $primary-font;
	background-position: 50%!important;
    background-size: cover!important;
    background-blend-mode: overlay;

	.details {
		color: #fff;
		font-weight: 400;
		text-shadow: rgba(0,0,0,.8) 0 1px 0;
		.venue-name {
			font-size: 2.4em;
		}

		.location {

		}
	}
}

.venue {
	.card-body p {
		white-space: pre-line;
		font-size: 0.9rem;
	}
}

// Company
.company-header {
	background: linear-gradient(90deg,#348ac7,#7474bf);
	font-family: $primary-font;
	color: #fff;

	.info {
		border-top: 1px dotted #fff;
		font-size: 0.9rem;
		white-space: pre-line;
	}

	.trs {
		background-color: rgba(10,30,44,.25) !important;
	}
}

.event-list-table {
	.tr-link {
		cursor: pointer;
	}
}

// Comments
.comments {
	.comment {
		.avatar {
			border-radius: 50%;
			img {
				width: 60px;
				height: 60px;
			}
		}

		.username {
			font-size: 0.9em;
		}

		.comment-body {
			font-size: 0.9em;	
		}
	}
}

// Components
.image-upload-component {
	.image {
		width: 300px;
		height: 200px;
		background-position: 50% !important;
    	background-size: cover !important;
	}
}

.multi-image-upload-component {
	.image {
		width: 300px;
		height: 200px;
		background-position: 50% !important;
    	background-size: cover !important;
	}
}

// Flex
.flex-1 {
	flex: 1;
}

.flex-auto {
	flex: auto;
}

// Footer
footer {
	border-top: 20px solid #212681;
	background: #2931a0;
}